<h3>Bucket details for {{detailedBucket.bucket}}</h3>
<br />

<table  class="table table-condensed table-nohead">
    <tbody>
    <tr ng-repeat="(key, value) in detailedBucket">
        <td width="150px"> {{key.replace('_',' ', 'gi')}} </td> <td> {{ value }} </td>
    </tr>
    </tbody>
</table>


<div class="button-bar">
    <a href="#/changeOwner/{{ detailedBucket.bucket }}/{{ detailedBucket.owner }}" class="btn btn-success">Change owner</a>
    <a href="#/delete/{{ detailedBucket.bucket }}" class="btn btn-danger">Delete</a>
    <a href="#/" class="btn btn-default">Close</a>
</div>
