<h3>Change owner for {{ bucketName }}</h3>
<br />
<form name="form" novalidate class="form-horizontal">

    <div class="control-group">
        <label for="actualOwner" class="col-sm-2 control-label">actual owner :</label>

        <div class="controls">
            <input type=text id="actualOwner" ng-model="actualOwner" disabled/>
        </div>
    </div>

    <div class="control-group">
        <label for="new_owner" class="col-sm-2 control-label">new owner : </label>
        <div class="controls">
            <select id="new_owner" ng-model="new_owner" ng-options="value.uid for value in users| orderBy:'uid'"></select>
            &nbsp;<a class="tooltips"><i class="icon-book"> </i><span>could be left to blank if you don't want to choose a new owner.</span></a>
        </div>
    </div>
</form>

<div class="button-bar">
    <a ng-click="changeOwner()" class="btn btn-success">Change owner</a>
    <a ng-click="return()" class="btn btn-default">Close</a>
</div>
