<h3>Erasure code profile details for {{detailedErasureProfile.name}}</h3>
<br>
<div class="button-bar">
    <div style="width:35px;display: inline-block"></div>
    <a href="#/delete/{{detailedErasureProfile.name}}" class="btn btn-danger">Delete</a>
    <a href="#/" class="btn btn-default">Close</a>
</div>
<br />
<table ng-table="erasureProfileParams"  template-pagination="custom/pager" class="table table-condensed">
    <thead><tr><th></th></tr></thead>
    <tbody ng-repeat="group in $groups">
    <tr class="ng-table-group" ng-init="checkGroup(group)">
        <td colspan="{{$columns.length}}">
            <a href="" ng-click="group.$hideRows = !group.$hideRows">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                <strong>{{ group.value }}</strong>
            </a>
        </td>
    </tr>
    <tr ng-hide="group.$hideRows" ng-repeat="parameter in group.data">
        <td data-title="'Key'">
            {{parameter.key}}
        </td>
        <td data-title="'Value'">
            <span ng-bind-html="parameter.value"></span>
        </td>
    </tr>
    </tbody>
</table>
<!-- empty custom pager to avoid pager showing before being hidden -->
<script type="text/ng-template" id="custom/pager"></script>