<!doctype html>
<html ng-app="bucketApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset=utf-8 />
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular/angular-route.min.js"></script>
    <script src="scripts/angular/angular-sanitize.min.js"></script>
    <script src="scripts/angular-misc/ng-table.min.js"></script>
    <script src="scripts/angular-misc/angular-commons.js"></script>
    <script src="scripts/angular-misc/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="scripts/angular-misc/dialogs.v2.min.js" type="text/javascript"></script>
    <script src="scripts/bucketApp.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/testAdmin.css" />
    <link rel="stylesheet" href="css/tooltip.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="scripts/angular-misc/ng-table.min.css">
    <title>Ceph buckets admin</title>
</head>
<body ng-controller="ListCtrl">

<header ng-include src="'partials/header.html'" ng-init="pageTitle='S3 and Swift bucket management'"></header>

<div>
<!--div id="status"  >{{status}}</div-->
<div id="list">
    <table>
        <tr>
            <th><input type="text" ng-model="search" class="search-query" placeholder="Search"></th>
            <th>&nbsp; &nbsp; </th>
            <th><a href="#/new"><i class="icon-plus-sign" alt="add a new bucket" title="add a new bucket"></i></a></th>
        </tr>
    </table>
    <br>
    <table ng-table="tableParams" class="table table-condensed table-hover">
        <tr ng-repeat="bucket in orderedData | filter:search" ng-click="showDetail(bucket)">
            <td data-title="'Bucket'" sortable="''">{{bucket}}</td>
            <td data-title="'View'" sortable="pool" style="text-align:center"><a href="#/detail/{{bucket}}"><i class="icon-eye-open" alt="view details of {{ bucket }}" title="view details of {{ bucket }}"></i></a></td>
        </tr>
    </table>
</div>
</div>
<div ng-view id="control" ></div>


</body>
</html>