<!doctype html>
<html ng-app="hostsApp">
<head>
    <meta charset=utf-8 />
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular/angular-route.min.js"></script>
    <script src="scripts/angular/angular-sanitize.min.js"></script>
    <script src="scripts/angular-misc/ng-table.min.js"></script>
    <script src="scripts/angular-misc/angular-commons.js"></script>
    <script src="scripts/angular-misc/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="scripts/angular-misc/dialogs.v2.min.js"></script>
    <script src="scripts/hostsApp.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/angular-misc/D3Directives.js"></script>
    <script src="scripts/d3/d3.v3.min.js"></script>
    <script src="scripts/d3/common.js"></script>
    <script src="scripts/d3/colorbrewer.js"></script>
    <link rel="stylesheet" href="css/testAdmin.css" />
    <link rel="stylesheet" href="css/tooltip.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="scripts/angular-misc/ng-table.min.css">
    <title>Ceph cluster hosts</title>
</head>
<body ng-controller="ListCtrl" onresize="resizeBlocks(['#list','#control'])">


<header id="header" ng-include src="'partials/header.html'" ng-init="pageTitle='Ceph cluster hosts'"></header>

<div>
<div id="datePanel">Date : {{date | date:'HH:mm:ss'}}</div>
<div id="list">
    <table>
        <tr>
            <th><input type="text" ng-model="search._id" class="search-query" placeholder="Search name"></th>
        </tr>
    </table>
    <br>
    <table ng-table="tableParams" class="table table-condensed table-hover clickable">
        <tr ng-repeat="host in orderedData | filter:search:strict" ng-click="showDetail(host._id)">
            <td data-title="'Name'" sortable="'_id'">{{host._id}}</td>
            <td data-title="'IP'" sortable="'hostip'">{{host.hostip}}</td>
            <td data-title="'View'" sortable="host" style="text-align:center"><i class="icon-eye-open" alt="view details of {{host.name}}" title="view details of {{host.name}}"></i></td>
        </tr>
    </table>
</div>
</div>
<div ng-view id="control" ></div>

<script>resizeBlocks(['#list','#control']);</script>

</body>

</html>