<!DOCTYPE html>
<html ng-app="ObjectLookupApp">
<head>
    <meta charset=utf-8/>
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular-misc/angular-commons.js"></script>
    <script src="scripts/angular-misc/D3Directives.js"></script>
    <script src="scripts/objectLookupApp.js"></script>
    <script src="scripts/d3/d3.v3.min.js"></script>
    <script src="scripts/d3/common.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/tooltip.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/testAdmin.css">
    <title>Object Lookup</title>
</head>
<body ng-controller="ObjectLookupCtrl">

<header ng-include src="'partials/header.html'" ng-init="pageTitle='Ceph Object Lookup'"></header>

    <div class="general_status">
        <h2>Selection</h2>
        <br>
        Pool:
        <input type="text" ng-model="pool" name="pool" placeholder="pool name">
        Object id:
        <input type="text" ng-model="objectId" name="objectId" placeholder="object id">
    </div>


<div class="general_status">
   <h3>Date : {{date | date:'HH:mm:ss'}}</h3>
    <table  class="table table-condensed" style="width:300px;align-self: center">
        <tr><td>Pool</td><td>{{pool}}</td></tr>
        <tr><td>Object</td><td>{{objectId}}</td></tr>
        <tr><td>PG</td><td>{{data.pgid}}</td></tr>
        <tr><td>acting</td><td>{{data.acting}}</td></tr>
        <tr><td>up</td><td>{{data.up}}</td></tr>
    </table>
   <div id="osds">
        <h3>Acting OSD :</h3>
        <div ng-repeat="osd in acting" class=" tooltips osd {{osdClassForId(osd)}}" >
            {{osd}}
            <div> <!-- tooltip -->
                <span>
                    <strong>{{getOsd(osd).node.name}}</strong> {{osdState(getOsd(osd).stat.in,getOsd(osd).stat.up)}}<br>
                    last control : {{getOsd(osd).lastControl|duration}}<br><br>
                    {{getOsd(osd).partition._id}}<br>
                    {{getOsd(osd).public_addr}}<br>
                    free : {{getOsd(osd).partition.stat.free|bytes}}<br>
                    used : {{getOsd(osd).partition.stat.used|bytes}}<br>
                    total: {{getOsd(osd).partition.stat.total|bytes}}<br>
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>