<!doctype html>
<html ng-app="osdMapApp">
<head>
    <meta charset="utf-8"/>
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/angular-misc/angular-commons.js"></script>
    <script src="scripts/d3/common.js" charset="utf-8"></script>
    <script src="scripts/d3/colorbrewer.js" charset="utf-8"></script>
    <script src="scripts/d3/d3.v3.min.js"></script>
    <script src="scripts/osdMapApp.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/testAdmin.css"/>
    <title>OSDs map</title>
    <style>

        #controlPanel {
            border: black solid 1px;
            position: absolute;
            top: 0px;
            right: 0px;
            margin: 10px;
            border-radius: 5px;
            vertical-align: middle;
            line-height: 40px;
            padding:5px;
        }

        #controlPanel input[type=number] {
            width:40px;
        }

    </style>
</head>
<body ng-controller="OsdMapCtrl">
<h1 class="pageTitle"><a href="index.html"><img src="img/inkscope_logo100.png" boredr="0"></a> OSDs map</h1>
<br/>

<form ng-submit="changePeriod()">
    <div id="controlPanel">
        Display attribute:
        <select ng-model="dispoMode" ng-change="refreshStatusDisplay()">
            <option ng-repeat="dispoMode in dispoModes" value="{{dispoMode}}">{{dispoMode}}</option>
        </select>
        <div ng-hide="warningMessage == ''"><p class="text-warning"> <i class="icon-warning-sign" ></i> {{warningMessage}}</p></div>
    </div>
</form>

<div id="datePanel">Date : {{date | date:'HH:mm:ss'}} <div ng-hide="osdControl<15 || count == 0"><p class="text-warning"> <i class="icon-warning-sign" ></i> osds not verified since {{osdControl|duration}}</p></div></div>

<div style="margin:0 20px">
    <div id="tooltip"></div>
    <div id="put_the_graph_there" style="width:100%">
        <my-topology></my-topology>
    </div>
</div>
</body>
</html>