<!doctype html>
<html ng-app="osdMapApp">
<head>
    <meta charset="utf-8"/>
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/angular/angular-sanitize.min.js"></script>
    <script src="scripts/angular-misc/angular-commons.js"></script>
    <script src="scripts/angular-misc/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="scripts/angular-misc/dialogs.v2.min.js" type="text/javascript"></script>
    <script src="scripts/d3/common.js" charset="utf-8"></script>
    <script src="scripts/d3/colorbrewer.js" charset="utf-8"></script>
    <script src="scripts/d3/d3.v3.min.js"></script>
    <script src="scripts/osdMapApp.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/testAdmin.css"/>
    <title>OSDs map</title>
    <style>

        #controlPanel {
            border: black solid 1px;
            position: absolute;
            top: 0px;
            right: 0px;
            margin: 10px;
            border-radius: 5px;
            vertical-align: middle;
            line-height: 40px;
            padding: 5px;
        }

        #controlPanel input[type=number] {
            width: 40px;
        }

    </style>
</head>
<body ng-controller="OsdMapCtrl">
<header ng-include src="'partials/header.html'" ng-init="pageTitle='OSD map'"></header>


<form>
    <div id="controlPanel">
        <table>
            <tr>
                <td>
                    Root :
                </td>
                <td>
                    <select id="base" ng-model="base"
                            ng-options="value.id as value.name for value in rootTab| orderBy:'name'" name="base"
                            ng-change="changeBase()"></select>
                </td>
            </tr>
            <tr>
                <td> Display attribute:</td>
                <td>
                    <select ng-model="dispoMode" ng-options="dispoMode for dispoMode in dispoModes"></select>
                </td>
            </tr>
        </table>
        <div ng-hide="warningMessage == ''"><p class="text-warning"><i class="icon-warning-sign"></i> {{warningMessage}}
        </p></div>
        <a ng-click="reweightByUtilization()" class="btn btn-info" style="float: right">Reweight by utilization</a>
    </div>
</form>

<div id="datePanel">Date : {{date | date:'HH:mm:ss'}}
    <div ng-hide="osdControl<15 || count == 0"><p class="text-warning"><i class="icon-warning-sign"></i> osds not
        verified since {{osdControl|duration}}</p></div>
</div>

<div style="position: relative; width: 100%">
    <div id="legend"
         style="position: absolute;top: 0;left: 0;min-width:50px;max-width:70px;margin-left:10px;padding:10px;border:gray thin solid;border-radius: 5px">
        Legend<br></div>
    <div id="put_the_graph_there" style="position:absolute;top: 150;left: 50;width:100%;z-index: 5">
        <my-topology></my-topology>
    </div>
</div>
<div id="tooltip" style="z-index: 10"></div>
</body>
</html>