<!DOCTYPE html>
<html ng-app="OsdsApp">
<head>
    <meta charset=utf-8/>
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular-misc/angular-commons.js"></script>
    <script src="scripts/angular-misc/D3Directives.js"></script>
    <script src="scripts/osdsApp.js"></script>
    <script src="scripts/d3/d3.v3.min.js"></script>
    <script src="scripts/d3/common.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/tooltip.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/testAdmin.css">
    <title>Osds</title>
    <style>
        #controlPanel {
            border: black solid 1px;
            position: absolute;
            top: 150px;
            right: 0px;
            margin: 10px;
            border-radius: 5px;
            vertical-align: middle;
            padding: 5px;
        }

        #controlPanel input[type=number] {
            width: 40px;
        }
    </style>

</head>
<body ng-controller="OsdsCtrl">

<header ng-include src="'partials/header.html'" ng-init="pageTitle='Ceph OSD status'"></header>

<div id="controlPanel" ng-hide="count == 0">
    <div class="osd  {{osdClass(osd.stat.in,osd.stat.up)}}" style="float:right">
        {{osd.node._id}}
    </div>
    <h1>{{osd.node.name}}</h1>
    <strong>{{osdState(osd.stat.in,osd.stat.up)}}</strong>
    <br><br>
    last control : {{osd.lastControl|duration}}<br>
    {{osd.partition._id}}<br>
    {{osd.public_addr}}<br>
    <ad-gauge value="osd.partition.stat.used/osd.partition.stat.total" colormode="desc" width="180"></ad-gauge>
    <div class="gaugeLegend">
        {{osd.partition.stat.used| bytes}} used <br>on {{osd.partition.stat.total| bytes}}
    </div>
    <hr>
    <div align="center">
    <a class="btn btn-success btn-large" ng-hide="osd.stat.in == true" ng-click="osdIn(selectedOsd)" ><i class="icon-white icon-plus"></i> get in</a>
    <a class="btn btn-danger btn-large" ng-hide="osd.stat.in != true" ng-click="osdOut(selectedOsd)"><i class="icon-white icon-minus"></i> get out</a>
    <a class="btn btn-warning btn-large" ng-hide="osd.stat.up == false" ng-click="osdDown(selectedOsd)"><i class="icon-white icon-arrow-down"></i> down</a>
    </div>
</div>

<div id="filters" >
    <div class="title">Filters</div>
    <div class="filter clickable" ng-hide="!inFilter"  ng-click="removeFilter('in')"> x in</div>
    <div class="notfilter clickable" ng-hide="inFilter" ng-click="addFilter('in')"> + in</div>
    <div class="filter clickable" ng-hide="!outFilter" ng-click="removeFilter('out')"> x out</div>
    <div class="notfilter clickable" ng-hide="outFilter" ng-click="addFilter('out')"> + out</div>
    <div class="filter clickable" ng-hide="!upFilter" ng-click="removeFilter('up')"> x up</div>
    <div class="notfilter clickable" ng-hide="upFilter" ng-click="addFilter('up')"> + up</div>
    <div class="filter clickable" ng-hide="!downFilter" ng-click="removeFilter('down')"> x down</div>
    <div class="notfilter clickable" ng-hide="downFilter" ng-click="addFilter('down')"> + down</div>
</div>
<br>
<div id="datePanel"><br>Date : {{date | date:'HH:mm:ss'}} - matching: {{count}} of {{nbOsd}} OSD <div ng-hide="osdControl<15 || count == 0"><p class="text-warning"> <i class="icon-warning-sign" ></i> osds not verified since {{osdControl|duration}}</p></div> </div>


<div id="osds">
    <div ng-repeat="osd in data|orderBy:'id'" class=" tooltips osd {{osdClass(osd.stat.in,osd.stat.up)}}">
        <div ng-click="osdSelect(osd);">
            {{osd.id}}
            <div> <!-- tooltip -->
                <span>
                    <strong>{{osd.node.name}}</strong> {{osdState(osd.stat.in,osd.stat.up)}}<br>
                    last control : {{osd.lastControl|duration}}<br><br>
                    {{osd.partition._id}}<br>
                    {{osd.public_addr}}<br>
                    free : {{osd.partition.stat.free|bytes}}<br>
                    used : {{osd.partition.stat.used|bytes}}<br>
                    total: {{osd.partition.stat.total|bytes}}<br>
                </span>
            </div>
        </div>
    </div>
</div>


</body>
</html>