<!DOCTYPE html>
<html ng-app="StatusApp">
<head>
    <meta charset=utf-8/>
    <title>Ceph status</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/testAdmin.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/nv.d3.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/tooltip.css"/>
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular-misc/D3Directives.js"></script>
    <script src="scripts/angular-misc/angular-commons.js"></script>
    <script src="scripts/statusApp.js"></script>
    <script src="scripts/d3/common.js"></script>
    <script src="scripts/d3/colorbrewer.js"></script>
    <script type="text/javascript" src="scripts/d3/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="scripts/d3/nv.d3.js" charset="utf-8"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-controller="statusCtrl">
<h1 class="pageTitle"><a href="index.html"><img src="img/inkscope_logo100.png" boredr="0"></a> Ceph status</h1>

<div id="general_status">
    <h2>Cluster health at {{date | date:'HH:mm:ss'}}</h2>

    <div class="health_summary health_status_{{health.severity}}">{{health.summary}}</div>
    <div id="journal">
        <div ng-repeat="key in journal">{{key.date | date:'yyyy-MM-dd HH:mm:ss'}} : {{key.summary}}</div>
        <br>
    </div>
    <h3>history </h3>

</div>

<div id="mon_status">
    <h2>Monitors status</h2>

    <div ng-repeat="mon in mons" class=" tooltips health_status_{{mon.health}} quorum_{{mon.quorum}}">
        <div style="align-content: center">
            <div>
                {{mon.name}}
            <span>
            <table>
                <tr>
                    <td><strong>Monitor</strong></td>
                    <td><strong>{{mon.name}}</strong></td>
                </tr>
                <tr>
                    <td>health_detail</td>
                    <td><strong>{{mon.health_detail}} {{mon.details}} </strong></td>
                </tr>
                <tr>
                    <td>quorum</td>
                    <td>{{mon.quorum}}</td>
                </tr>
                <tr>
                    <td>rank</td>
                    <td>{{mon.rank}}</td>
                </tr>
                <tr>
                    <td>addr</td>
                    <td>{{mon.addr}}</td>
                </tr>
                <tr>
                    <td>skew</td>
                    <td>{{mon.skew}}</td>
                </tr>
                <tr>
                    <td>latency</td>
                    <td>{{mon.latency}}</td>
                </tr>
                <tr>
                    <td>last_updated</td>
                    <td>{{mon.last_updated}}</td>
                </tr>
                <tr>
                    <td>avail_percent</td>
                    <td>{{mon.avail_percent}}%</td>
                </tr>
                <tr>
                    <td>kb_total</td>
                    <td>{{mon.kb_total | bytes:kB}}</td>
                </tr>
                <tr>
                    <td>kb_avail</td>
                    <td>{{mon.kb_avail | bytes:kB}}</td>
                </tr>
                <tr>
                    <td>kb_used</td>
                    <td>{{mon.kb_used | bytes:kB}}</td>
                </tr>
            </table>
            </span>
            </div>

        </div>
    </div>
</div>

<div id="pg_status">
    <h2 onclick="document.location='poolspgsosds.html'" style="cursor:pointer">{{pgmap.num_pgs}} Placement groups</h2>

    <div id="pg_status_graph">
        <ad-pie id="pie01" value="pgsByState" width="350" labelfield="state_name" valuefield="count"></ad-pie>
    </div>

</div>

<div id="capacity_details">
    <h2>Avail. capacity : {{pgmap.bytes_total - pgmap.bytes_used | bytes:MB}}</h2>
    <br><br>

    <div onclick="document.location='poolUsage.html'" style="cursor:pointer">
        <ad-gauge value="percentUsed" colormode="desc" width="280"></ad-gauge>
        <div class="gaugeLegend">
            {{pgmap.bytes_used | bytes:kB}} used <br>on {{pgmap.bytes_total | bytes:kB}}
        </div>
    </div>
</div>
<div id="osd_status">
    <h2 onclick="document.location='osds.html'" style="cursor:pointer">{{osdsUp + osdsDown}} OSD</h2>

    <div id="osd_status_details">
        <table>
            <tr>
                <td>&nbsp;</td>
                <td>UP</td>
                <td>DOWN</td>
            </tr>
            <tr>
                <td>IN</td>
                <td>
                    <div class="health_status_HEALTH_OK mybadge" onclick="document.location='osds.html'">{{osdsInUp}}</div>
                </td>
                <td>
                    <div class={{badgeClass("ERR",osdsInDown)}} onclick="document.location='osds.html?state=in+down'">
                        {{osdsInDown}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>OUT</td>
                <td>
                    <div class={{badgeClass("WARN",osdsOutUp)}} onclick="document.location='osds.html?state=out+up'">
                        {{osdsOutUp}}
                    </div>
                </td>
                <td>
                    <div class={{badgeClass("ERR",osdsOutDown)}} onclick="document.location='osds.html?state=out+down'">
                        {{osdsOutDown}}
                    </div>
                </td>
            </tr>
        </table>


    </div>


</div>
<div id="pool_status">
    <h2 onclick="document.location='poolspgsosds.html'" style="cursor:pointer">{{pools}} pools</h2>

    <div id="pool_status_details">
        <table>
            <tr>
                <td>clean</td>
                <td>unclean</td>
            </tr>
            <tr><td>
                    <div class={{badgeClass("OK",cleanPools)}} onclick="document.location='poolspgsosds.html'">
                        {{cleanPools}}
                    </div>
                </td>
                <td>
                    <div class={{badgeClass("WARN",uncleanPools)}} onclick="document.location='poolspgsosds.html'">
                        {{uncleanPools}}
                    </div>
                </td>
            </tr>
        </table>


    </div>


</div>


</body>
</html>
