<h3>Pool deletion</h3>
<br />
<form name="myForm">
    <p>Are you sure you want to delete user  <strong>"{{uid}}"</strong> ?</p>

    <br>
    <p class="text-info"><i class="icon-warning-sign"></i> <em>If you created your own rulesets and rules for a pool you created, you should consider removing them when you no longer need your pool. If you created users with permissions strictly for a pool that no longer exists, you should consider deleting those users too.</em></p>

    <div class="button-bar">
        <button ng-click="userDelete()" ng-show="uid" class="btn btn-danger">Delete</button>
        <a href="#/detail/{{uid}}" class="btn">Cancel</a>
    </div>
</form>