<h3>Pool creation</h3>
<br />
<form name="form" novalidate class="form-horizontal">
    <div class="control-group">
        <label for="pool.name" class="col-sm-2 control-label">Pool name :</label>
        <div class="controls">
            <input type=text id="pool.name"  ng-model="pool.name" placeholder="Pool name" required/>
        </div>
    </div>
    <div class="control-group">
        <label for="pool.size" class="col-sm-2 control-label">size : </label>
        <div class="controls">
            <input type=number id="pool.size"  ng-model="pool.size" required/>
        </div>
    </div>
    <div class="control-group">
        <label for="pool.size_min" class="col-sm-2 control-label">size min : </label>
        <div class="controls">
            <input type=number id="pool.size_min"  ng-model="pool.size_min" required/>
        </div>
    </div>
    <div class="control-group">
        <label for="pool.pg_num" class="col-sm-2 control-label">pg num : </label>
        <div class="controls">
            <input type=number id="pool.pg_num"  ng-model="pool.pg_num" required/>
            &nbsp;<a class="tooltips"><i class="icon-book"> </i><span>recommended value: ?</span></a>
        </div>
    </div>
    <br/>
    <br />

    <div class="button-bar">
        <a href="#/" class="btn btn-default">Cancel</a>
        <button ng-click="reset()" ng-disabled="isUnchanged(pool)" class="btn btn-default">
            Reset
        </button>
        <button ng-click="createPool()" ng-disabled="form.$invalid || isUnchanged(pool)" class="btn btn-primary">
            Create
        </button>

    </div>
</form>
<br>
Debug info : <br><br>
<pre>form = {{pool | json}}</pre>
<pre>master = {{master | json}}</pre>
<pre>url: {{url}}</pre>
<pre>http status code: {{status}}</pre>
<pre>http response data: {{data}}</pre>