<h3>Swift key creation for {{key.subuser}}</h3>
<br/>
<form name="form" novalidate class="form-horizontal">

     <div class="control-group">
            <label for="key.generate_key" class="col-sm-2 control-label">generate swift key : </label>

            <div class="controls">
                <input type=checkbox id="key.generate_key" ng-model="key.generate_key" ng-init="key.generate_key='True'"
                       ng-true-value="True" ng-false-value="False"/>
                &nbsp;<a class="tooltips"><i class="icon-book"> </i><span>Generate a new Swift key and add to the existing keyring.</span></a>
            </div>
        </div>
        <div ng-show="key.generate_key=='False'">
            <div class="control-group">
                <label for="key.secret_key" class="col-sm-2 control-label">swift key : </label>

                <div class="controls">
                    <input type=text id="key.secret_key" ng-model="key.secret_key" ng-required="key.generate_key=='False'"/>
                    &nbsp;<a class="tooltips"><i class="icon-book"> </i><span>subuser swift key</span></a>
                </div>
            </div>
        </div>
    <br/>

    <div class="button-bar">
        <button ng-click="submit()" ng-disabled="form.$invalid" class="btn btn-success">Create</button>
        <button ng-click="reset()" ng-disabled="isUnchanged(key)" class="btn btn-default">Reset</button>
        <button ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
</form>