<h3>S3 key creation for {{uid}}</h3>
<br/>
<form name="form" novalidate class="form-horizontal">

    <div class="control-group">
        <label for="key.generate_key" class="col-sm-2 control-label">generate new S3 key : </label>

        <div class="controls">
            <input type=checkbox id="key.generate_key" ng-model="key.generate_key" ng-init="key.generate_key='True'"
                   ng-true-value="True" ng-false-value="False"/>
            &nbsp;<a class="tooltips"><i class="icon-book"> </i><span>Generate a new key pair and add to the existing keyring.</span></a>
        </div>
    </div>
        <div class="control-group">
            <label for="key.access_key" class="col-sm-2 control-label">access key : </label>

            <div class="controls">
                <input type=text id="key.access_key" ng-model="key.access_key" ng-disabled="key.generate_key=='True'"/>
                &nbsp;<a class="tooltips"><i class="icon-book"> </i><span>user access key</span></a>
            </div>
        </div>
        <div class="control-group">
            <label for="key.secret_key" class="col-sm-2 control-label">secret key : </label>

            <div class="controls">
                <input type=text id="key.secret_key" ng-model="key.secret_key" ng-disabled="key.generate_key=='True'"/>
                &nbsp;<a class="tooltips"><i class="icon-book"> </i><span>user secret key</span></a>
            </div>
        </div>

    <br/>

    <div class="button-bar">
        <button ng-click="submit()" ng-disabled="isValid()" class="btn btn-success">Create</button>
        <button ng-click="reset()" ng-disabled="isUnchanged(subuser)" class="btn btn-default">Reset</button>
        <button ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
</form>