<div id="page_header">
    <div id="page_logo"><a href="index.html"><img src="img/inkscope_logo100.png" border="0"></a></div>
    <div id="page_title">{{ pageTitle }}</div>
    <div id="page_menu">
        <ul class="nav nav-pills">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">OSD<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="osds.html" title="all OSDs status with filters">OSDs status</a>
                    <li><a href="osdMap.html" title="OSDs hierarchical view">OSDs map</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" title="pool usage and pools/pgs/osd">Pool<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="poolManagement.html" title="some pools statistics">Pool management</a></li>
                    <li><a href="poolspgsosds.html" title="shows relationship between pools and osds">Pools/Pgs/osds</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" title="user and bucket management">S3/Swift<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="userManagement.html" title="users">Users</a></li>
                    <li><a href="bucketManagement.html" title="buckets">Buckets</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Crush map, object lookup and probe status">Misc.<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="showCrushMap.html" title="a partial visualization of the Crush Map">Crush map</a></li>
                    <li><a href="probes.html" title="shows if probes are still active">Probe status</a></li>
                    <li><a href="objectLookup.html" title="shows on which OSD is or would be stored an object in a pool">Object lookup</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>